body{
    font-family: cursive !important;
}
.adding{  
    color: #1b3438;
  
}
.list{
    color: #1b3438;
    padding-left: 10px; 
}
button{
    background-color: #2cc3cc;
    border-radius: 5px;
    margin-left:300px;
    font-family: cursive;
}
fieldset{
    border-radius: 10px;
    color: #1b3438;
    width: 500px;
    height: 500px;
}
input{
    border-radius: 5px;
    box-shadow: 5px grey;
}
textarea{
    border-radius: 5px;
}
.main{
 display: flex;
 color: #1b3438;
 font-family: cursive;
 align-items: vertical;
}

label{
    padding: 20px;
}
input{
    margin: 15px;
}
a{
    padding-bottom: 30px;
}
legend{
    font-size: 20px;
}
li{
    padding: 20px;
}